<div>
  <h1>Welcome to Green IT</h1>

  <p>
    Green IT Energy Applications™ combines innovative technology and
    industry-specific expertise into unique software and service packages
    available in an expansive catalog covering Asset Management, Project
    Management, IT, Operations, and CRM. Our mission is to streamline critical
    activities for owners, operators, developers, and financiers of renewable
    energy projects and portfolios. Green IT is engineered to enhance
    productivity, reduce risk, and build knowledge. Green IT is a division of
    Ruby Renewable Resources LLC, which has provided high-value renewable energy
    Asset Management and related services to clients across North America since
    2002
  </p>
</div>
